.profile {
	width: 100wh;
}
.profile__content {
	width: 100wh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100vh-50px);
}
.profile__header {
	margin: 20px 0;
}
.profile__body {
}

.profile__btn-delete {
	margin-bottom: 10px;
}

.profile__file {
	border: none;
}